*{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: blue;
    height: 400px;
}

.container-div{
    background-color: red;
    height: 200px;
    width: 200px;
}

.parrafo{
    font-size: 15;
    font-weight: bold;
}

@media (max-width: 600px) {
    .container{
        background-color: green;
    }
}

@media (max-width: 900px) and (min-width: 600px) {
    .container{
        background-color: pink;
    }
}